<app-header></app-header>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let toDoObj of toDoArr">
        <th scope="row">{{ toDoObj.id }}</th>
        <td>{{ toDoObj.task }}</td>
        <td>
          <button
            class="btn btn-danger me-2"
            (click)="deleteTask(toDoObj)"
            type="submit"
          >
            <i class="bi bi-trash3"></i>
          </button>
          <button
            class="btn btn-success"
            (click)="setDone(toDoObj)"
            type="submit"
          >
            <i class="bi bi-check2-square"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
